:root{
    --letziBlau: #0066CC;
    --letziGelb: #FFCC33;
    --letziBlauTransparent: rgba(00, 102, 204, 0.5);
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.titelbild{
    position: relative;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: 500;
    top: 0;
}



/* https://coolcssanimation.com/how-to-trigger-a-css-animation-on-scroll/ */